@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    /*light = 300
    semibold = 600*/
}

main {
    max-width: 60vw;
    padding: 2em;
}

#title {
    font-size: 52px;
    font-weight: 600;
}

hr {
    color: #939393;
}

.mt-1 {
    margin-top: 10px;
}


#yourBalance,
#balance {
    font-size: 32px;
}

#balance {
    font-weight: 600;
}

#balanceSheet {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: 1em 0;
    padding: 1em;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

#income,
#expense {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}
