@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    /*light = 300
    semibold = 600*/
}

main {
    max-width: 60vw;
    padding: 2em;
}

#title {
    font-size: 52px;
    font-weight: 600;
}

hr {
    color: #939393;
}

.mt-1 {
    margin-top: 10px;
}

/* START Balance Section*/

#yourBalance,
#balance {
    font-size: 32px;
}

#balance {
    font-weight: 600;
}

#balanceSheet {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: 1em 0;
    padding: 1em;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

#income,
#expense {
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* END Balance Section*/

/* START History Section*/

.activeIndicatorRed {
    border: 1px solid black;
    border-radius: 8px;
    background-color: red;
    margin: 2em 0;
}

.activeIndicatorGreen {
    border: 1px solid black;
    border-radius: 8px;
    background-color: green;
    margin: 2em 0;
}

.item {
    border-radius: 8px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 1em 1em;
    background-color: #fff;
    width: 95%;
}

.itemName {
    font-weight: 600;
    font-size: 18px;
}

.itemPrice {
    font-weight: 600;
    font-size: 22px;
}

/* END History Section*/
